* {
  /* Fuente utilizada */
  font-family: "Viga", sans-serif;
  /* Barra de desplazamiento */
  scrollbar-width: auto;
  scrollbar-color: #999999 #666666;
  /* Variables */
  --navbar-color: rgba(0, 0, 0, 1);
  --navbar-scroll-color: rgba(0, 0, 0, 0.9);
  --solid-primary-color: #ff0000;
  --solid-secundary-color: #222;
  --solid-third-color: #999;
  --solid-fourth-color: #666;
  --solid-fifth-color: #f1f1f1;
  --solid-sixth-color: #ffffff;
}
textarea,
input {
  color: #fff;
}
textarea:focus,
input:focus {
  color: #fff;
}
/* Barra de desplazamiento -- compatibilidad para Chrome, Edge, y Safari */
*::-webkit-scrollbar {
  width: 11px;
}
*::-webkit-scrollbar-track {
  background: var(--solid-fourth-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--solid-third-color);
  border-radius: 4px;
  border: 1px solid #f1f1f1;
}

/* Fondo de página */
body {
  background: linear-gradient(
      180deg,
      rgba(34, 34, 34, 0.25) 0%,
      rgba(34, 34, 34, 0.25) 60%,
      rgba(34, 34, 34, 0.25) 100%
    ),
    url("../images/background.png");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Subrayado para los títulos */
.underlined {
  height: 4px;
  width: 100%;
  background-color: var(--solid-primary-color);
  display: block;
  margin: 0 0 48px 0;
}

/* Responsive navigation menu */
nav.nav-menu {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0px;
  background: var(--navbar-color);
  display: flex;
  align-items: center;
  z-index: 999;
  padding: 10px 18px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.nav-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.nav-brand {
  height: 30px;
  margin: 0 30px 0 0;
}
.menu {
  display: inline-flex;
  align-items: center;
  padding: 0 0;
  margin: 0 0;
}
.menu li {
  height: 80px;
  display: flex;
  align-items: center;
  list-style: none;
}
.menu li:hover {
  color: var(--solid-third-color);
  border-bottom: 2px solid #999;
  transition: 100ms;
}
.menu li a {
  color: var(--solid-sixth-color);
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 10px;
}
.menu li a:hover {
  color: var(--solid-third-color);
  transition: 100ms;
}
@media screen and (max-width: 991.98px) {
  .nav-social {
    display: none !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .nav-menu {
    height: 50px;
  }
  .nav-wrapper {
    display: none;
  }
  .nav-wrapper ul {
    flex-direction: column;
  }
  .menu li:hover {
    border: none;
  }
  .nav-btn {
    height: 48px;
    width: 48px;
    z-index: 999;
    border-radius: 50%;
    margin: 0 0 0 auto;
  }
  .nav-btn i {
    height: 3px;
    width: 24px;
    display: block;
    background: var(--solid-sixth-color);
    border-radius: 3px;
    margin-left: 12px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 14px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 5px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 5px;
  }
}
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}
#nav:checked + .nav-btn i {
  background: #fff;
  transition: transform 0.15s ease;
}
#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(8px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-8px) rotate(90deg);
}
#nav:checked ~ .nav-wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--solid-secundary-color);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hidden {
  display: none !important;
}
nav.scroll-active {
  background-color: var(--navbar-scroll-color);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 1);
  transition: ease-in-out 0.25s;
}
.nav-social {
  display: inline-flex;
  padding: 0 0;
  margin: 0 0 0 auto;
}
.nav-social li {
  background-color: #333;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 10px 10px;
  border-radius: 4px;
}
.nav-social svg {
  display: flex;
  color: #fff;
  height: 22px;
  width: 22px;
}

/* Cabecera */
#hero {
  padding: 100px 30px;
  color: var(--solid-sixth-color);
}
#hero .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  padding: 0 0 30px 0;
}
#hero .brand img {
  width: 45px;
  margin: 0 10px 0 0;
}
#hero .brand h1 {
  font-size: 36px;
  margin: 0 0;
}
#hero h1 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  #hero .brand img {
    width: 30px;
  }
  #hero .brand h1 {
    font-size: 22px !important;
    text-align: start;
  }
  #hero h1 {
    font-size: 14px !important;
  }
}
.video {
  display: block;
  margin: auto;
  padding: 50px 0 0 0;
}
.youtube-video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  margin: 30px 0 30px 0;
}
.youtube-video-responsive iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* Roster en index.html */
#roster-slider {
  padding: 0 30px;
}
#roster-slider .container {
  margin: 0 auto;
  padding: 0 0;
}
#roster-slider h2 {
  color: var(--solid-sixth-color);
  text-transform: uppercase;
}
#roster-slider .slick-slide a {
  min-width: 300px;
  max-width: 420px;
}
#roster-slider .slick-slide img {
  min-width: 300px;
  max-width: 420px;
  margin: auto;
  object-fit: cover;
}
.roster-slider-responsive h2 {
  font-size: 18px;
  padding: 10px 18px;
  color: var(--solid-sixth-color);
  background: var(--solid-secundary-color);
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: 15px;
}

/* Sponsors en index.html */
#sponsors {
  padding: 100px 30px;
  margin: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0.9) 0%,
    rgba(34, 34, 34, 0.9) 60%,
    rgba(34, 34, 34, 0.9) 100%
  );
}
#sponsors h2 {
  color: var(--solid-sixth-color);
  text-align: start;
}
.sponsors-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 0 0;
}
.sponsors-logos img {
  width: 150px;
  margin: 10px 18px;
}
@media screen and (max-width: 991.98px) {
  .sponsors-logos img {
    width: 100px;
  }
}

/* Flyers en index.html */
#flyers {
  padding: 50px 30px 0 30px;
}
#flyers h2 {
  text-align: start;
  color: #fff;
  text-transform: uppercase;
}
#flyers img {
  width: 100%;
  display: block;
  margin: 10px auto;
}
#flyers img:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* Prensa en index.html */
#news {
  padding: 100px 30px;
  text-align: start;
  color: #fff;
  text-transform: uppercase;
}

/* Página agencia.html */
#agency {
  color: #fff;
  padding: 100px 30px;
}
#agency h2,
h3 {
  margin: 0 0 30px 0;
  text-decoration: underline;
}
#agency ul {
  list-style: none;
}

/* Página roster.html */
#roster {
  padding: 100px 30px;
}
.roster-wrapper {
  position: relative;
  height: 450px;
  width: auto;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.roster-wrapper img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.roster-wrapper .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  opacity: 1;
  padding: 10px 10px;
  color: #ffffff;
  background: rgba(64, 64, 64, 1);
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.roster-wrapper:hover .caption {
  opacity: 1;
}
.artist-wrapper {
  position: relative;
  height: 450px;
  width: auto;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.artist-wrapper img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.artist-wrapper .artist-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  font-family: "Viga";
  opacity: 0;
  padding: 10px 10px;
  color: #ffffff;
  background: #111;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.artist-wrapper:hover .artist-name {
  opacity: 1;
}

/* Página del artista */
#artist {
  padding: 100px 30px;
}
#artist h3 {
  text-decoration: none;
}
.nav-pills .nav-item {
  padding: 0 0;
  margin: 10px 4px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--solid-fourth-color) !important;
}
.nav-pills .nav-link {
  color: #fff;
  font-size: 14px;
}
.nav-pills .nav-link:hover {
  color: #999;
}
@media screen and (max-width: 768px) {
  .nav-pills {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin: 0 0 18px 0 !important;
  }
}
#artist .artist-profile {
  width: 300px;
  height: auto;
  width: 100%;
  object-fit: cover;
}
#artist .biography {
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
}
#artist #biography .col-md-6 {
  padding: 0 0;
}
#artist .biography h1 {
  margin: 30px 0 30px 0;
}
#artist .artist-social {
  margin: 18px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#artist .artist-social img {
  height: 22px;
  max-width: unset;
}
#artist .artist-social a {
  height: 22px;
  width: 22px;
  color: #fff;
  background-color: #999;
  margin: 18px 10px;
  padding: 18px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
}
.widget-social {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px auto;
  background-color: #222;
  border-radius: 5px;
}
.img-link {
  margin: 18px 0 18px 0;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#moments p {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-button {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap !important;
    margin: 0 0 18px 0 !important;
  }
}

.nav-button .nav-item {
  padding: 0 0;
  margin: 10px 4px;
  border-radius: 4px !important;
}
.nav-button .nav-link.active,
.nav-button .show > .nav-link {
  background-color: #333 !important;
  color: var(--solid-sixth-color);
}
.nav-button .nav-link {
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  background-color: #666;
  border: none;
}
.nav-button .nav-link:hover {
  color: #999;
}

/* Página booking-request.html */
#bookingrequest {
  padding: 100px 30px;
}
#bookingrequest h1 {
  color: #fff;
  text-align: center;
  margin: 0 0 10f0px 0;
}
.booking-request-form label {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin: 10px 18px 10px 10px;
}
.booking-request-form input[type="text"],
.booking-request-form input[type="email"],
.booking-request-form input[type="tel"] {
  height: 60px;
  width: 100%;
  margin: 4px 0;
  padding: 18px 10px;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 18px;
  background-color: #222;
}
.booking-request-form input[type="date"] {
  padding: 18px 10px;
  background-color: #fff;
  color: #000;
}
.booking-request-form select {
  padding: 18px 10px !important;
  width: 100%;
  margin: 4px 0;
  background-color: #fff;
  color: #000;
  font-size: 18px;
}
.booking-request-form textarea {
  width: 100%;
  height: 150px;
  margin: 4px 0 4px 0;
  padding: 18px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  background-color: #222;
}
.booking-request-form input[type="submit"] {
  font-size: 22px;
  background-color: #999;
  color: white;
  padding: 18px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.booking-request-form input[type="submit"]:hover {
  background-color: var(--solid-primary-color);
  transition: 100ms;
}

/* Página contacto.html */
#contact {
  padding: 100px 30px;
}
#contact .card {
  height: auto;
  width: 300px;
  padding: 0 0;
  text-align: center;
  background-color: rgba(64, 64, 64, 1);
}
#contact .list-group-item {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 11px;
}
#contact .card-img-top {
  height: 300px;
  object-fit: cover;
}
#contact .card-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
#contact .card-text {
  color: #fff;
  text-decoration: none;
}
#contact .card-link {
  color: #fff;
  text-decoration: none;
}
#contact .list-group-item a {
  color: #fff;
  text-decoration: none;
}

/* Formulario de suscripción */
#newsletter {
  padding: 50px 30px;
  margin: 30px 0px;
  background-color: var(--solid-secundary-color);
}
#newsletter h1,
#newsletter h2,
#newsletter h3 {
  color: var(--solid-sixth-color);
  font-size: 18px;
  text-align: center;
}
.newsletter-wrapper {
  position: relative;
  min-width: 300px;
  max-width: 600px;
  height: 45px;
  margin: 30px auto;
  border-radius: 4px;
  background: var(--solid-sixth-color);
}
.newsletter-wrapper input {
  min-width: 300px;
  max-width: 600px;
  padding: 14px 0 14px 18px;
  height: 45px;
  border-radius: 4px;
  border: none;
}
.newsletter-wrapper input:focus {
  outline: 0;
  background: #fff;
  border-radius: 4px;
}
.newsletter-wrapper input::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
}
.newsletter-wrapper input:-moz-placeholder {
  color: #000;
  font-size: 14px;
}
.newsletter-wrapper input:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
}
.newsletter-wrapper button {
  overflow: visible;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 45px;
  width: 150px;
  color: #fff;
  text-transform: uppercase;
  background: var(--solid-primary-color);
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 11px;
}
.newsletter-wrapper button:hover {
  background-color: rgba(64, 64, 64, 1);
}
.newsletter-wrapper button:active,
.newsletter-wrapper button:focus {
  background-color: #999;
  outline: 0;
}
.newsletter-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Responsive breakpoint */
@media screen and (min-width: 992px) {
  /* Grilla de cuatro columnas */
  .grid-quad-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 18px 10px;
    grid-auto-flow: row;
    grid-template-areas: "grid-quad-col-1 grid-quad-col-2 grid-quad-col-3 grid-quad-col-4";
  }
  .grid-quad-col-1 {
    grid-area: grid-quad-col-1;
  }
  .grid-quad-col-2 {
    grid-area: grid-quad-col-2;
  }
  .grid-quad-col-3 {
    grid-area: grid-quad-col-3;
  }
  .grid-quad-col-4 {
    grid-area: grid-quad-col-4;
  }
}

/* Articulo */
.article {
  display: grid;
  text-decoration: none;
  margin: 10px 0;
}
.article:hover {
  box-shadow: 8px 28px 20px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transform: scale(1.04);
  transition: 100ms;
}
.article-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.article-author img {
  height: 30px;
  margin: 0 10px 0 0;
}
.article-author {
  font-family: "Viga";
  color: var(--solid-secundary-color);
  padding: 0 0;
}
.article-text {
  background-color: var(--solid-fifth-color);
  padding: 10px 18px;
  height: 150px;
}
.title {
  color: var(--solid-secundary-color) !important;
  margin: 10px 0 0 0 !important;
  font-size: 18px;
}
.article-footer {
  height: 30px;
  padding: 0px 18px;
  margin: 0 0;
  background-color: var(--solid-fifth-color);
  border-radius: 0px 0px 4px 4px;
}
.article-reading-time {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 0;
  margin: 0 0 18px 10px;
  color: var(--solid-third-color);
}

/* Pie de página */
footer {
  background-color: var(--solid-secundary-color);
}
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.footer-section .footer-menu {
  display: inline-flex;
  font-size: 18px;
  padding: 0 0;
  margin: 0 0;
}
.footer-section li {
  margin: 10px 10px;
}
.footer-section li a {
  color: var(--solid-sixth-color);
  text-decoration: none;
}

@media screen and (max-width: 767.98px) {
  .footer-section {
    flex-direction: column !important;
  }
  .footer-section .footer-menu {
    flex-direction: column;
    text-align: center;
  }
  .footer-social {
    margin: 50px 0 0 0 !important;
  }
}
.footer-social {
  display: flex;
  padding: 0 0;
  margin: 0 0;
}
.footer-section .social {
  height: 42px;
  width: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 10px 10px;
  margin: 0 4px;
  border-radius: 4px;
}
.footer-section .social svg {
  display: flex;
  color: #fff;
  height: 22px;
  width: 22px;
}
.copyright {
  color: var(--solid-sixth-color);
  text-align: center;
  padding: 50px 30px;
}
.copyright img {
  height: 28px;
  border-radius: 50%;
  margin: 0 0 0 4px;
}

/* Back to top */
#myBtn {
  height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 99;
  color: #fff;
  font-size: 24px;
  background-color: var(--solid-third-color);
  outline: none;
  border: none;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: var(--solid-primary-color);
}
#myBtn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
